@charset "UTF-8";

.container{
	display: flex;
	/*
	flex-wrap: wrap; /* 한줄 공간 부족 -> 다음줄로
	flex-flow: column wrap;
	*/
	flex-direction: column;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #9bbbd4;
}

.game-room {
	background-color: #000000 !important;
	opacity: 80%;
}

.chat{
	display: flex;
}

.chat-space{
	display:flex;
	align-items: flex-end;
}

.right{
	margin-left: auto;
}

.left{
	margin-right: auto;
}

.box {
	padding-bottom: 10%;
	padding-top: 10%;
}

.bubble-right {
	position: relative;
	background: #fef01b;;
	border-radius: .4em;
	height: 120%;
	/* 
	max-width: 40%; 
	*/
}

.bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-left-color: #fef01b;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -10px;
}

.bubble-left {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
	height: 120%;
	/* 
	max-width: 40%; 
	*/
}

.bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -10px;
}

.time{
	position: relative;
}

.text{
	vertical-align: middle;
	margin: 0.5em;
}

.text-all{
	color: #FFFFFF;
}

.text-party{
	color: #FF66FF;
}

.text-guild{
	color: #33FFFF;
}

.text-union{
	color: #00FF00;
}

.text-megaphone{
	color: #FF00FF;
	background-color: #FFCCFF;
}