@charset "UTF-8";

.container{
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, auto));
}

.toTheRight{
	/* float: right; */ /* 오른쪽 정렬이 안됨*/	
	align-content: right;
	text-align: left;	/* 글 자체는 왼쪽 정렬 */
}

.toTheLeft{
	/* float: left; */
	align-content: left;
	text-align: left;
}

/* li 점, 여백 없애기 */
ul{
   list-style:none;
   padding-left:0px;
}

/*
.box {
	padding: 20px;
}
*/

.bubble-right {
	position: relative;
	background: #fff99e;
	border-radius: .4em;
	height: 2.0em;
	max-width: 40%;
}

.bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-left-color: #fff99e;
	border-right: 0;
	border-top: 0;
	margin-top: -10px;
	margin-right: -20px;
}

.bubble-left {
	position: relative;
	background: #fff99e;
	border-radius: .4em;
	height: 2.0em;
	max-width: 40%;
}

.bubble-left:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-right-color: #fff99e;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}

.text{
	vertical-align: middle;
	margin: 0.5em;
}