<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>practice - msg: popup_in&out</title>
	<link href="/common/common.css" rel="stylesheet">
	<script src="/common/common.js" type="text/javascript"></script>
	<script src="/popup.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
	<!-- 상대 목록 -->
	<div class="opponentList">
	</div>
	<button onclick="getInNOutMsg(this);" name="입장">입장</button>
	<button onclick="getInNOutMsg(this);" name="퇴장">퇴장</button>
</body>
</html>